@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Open+Sans:ital,wght@0,300..800;1,300..800');
/* loading */
#loading-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #404040; 
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    z-index: 9999;
}

.spinner {
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-top: 5px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin-bottom: 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.hidden {
    display: none;
}

/* fonts */
.archivo-black-regular {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* scroll */
body, html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden; 
    font-family: Tahoma, sans-serif;
}

.scrolling-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #404040 ; /* background before change in dynamicbackground.js */
    background-size: 1080px 1080px; 
    animation: scrollBoth 15s linear infinite;
}

@keyframes scrollBoth {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -1080px -1080px;
    }
}

/* the window */
.-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background: #777777;
    border: 2px solid #808080;
    box-shadow: 5px 5px 0px #404040;
    border-radius: 5px;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
}

.-title-bar {
    background: linear-gradient(to right, #000080, #1084d0);
    color: white;
    padding: 5px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    cursor: move;
}

.title-text {
    margin-left: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%; /* Adjust based on parent width */
}

.-content {
    padding: 15px;
    font-size: 14px;
    overflow: auto; 
    max-height: calc(70vh - 30px);
}

.topbuttons {
    display: flex;
    gap: 5px;
    margin-right: 8px;
    flex-direction: row;
}

/* Map Button */
.top-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-icon {
    width: 20px;  
    height: 20px;
    border: 2px solid white;
    border-radius: 3px;
    cursor: pointer;
}

.top-icon:hover {
    border-color: yellow;
}

/* layout */
.container {
    display: flex;
    align-items: left;
    justify-content: left;
}
  
.image-left {
    width: 100%;
}

.image-container {
    width: 10%;
    min-width: 100px;
    float: left;
}

.text-right {
    font-size: 20px;
    padding-left: 20px;
    float: left;
}

/* colors */
.title-link {
    color: #6CB96C;
    font-weight: bold;
}

.link {
    font-weight: bold;
    color: #6CB96C
}

.link:hover {
    color: #6CB96C;
    text-decoration: underline;
}

.link:visited {
    color: #51b142;
}

#dynamic-text-element {
    font-size: 12px;
}

.notice {
    color: #b23b3b;
}

/* fonts */
h1 {
    font-family: "Archivo Black";
    color: #6cff6c;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 1);
    font-size: 30px;
}

h2 {
    font-family: "Archivo Black";
    color: #EEEEEE;
    font-size: 24px;
}

p {
    font-family: "Open Sans";
    color: #EEEEEE;
    font-size: 14px;
}

h1:hover {
    background-color: rgba(200, 200, 200, 0.2);
}

h2:hover {
    background-color: rgba(200, 200, 200, 0.2);

}

p:hover {
    background-color: rgba(200, 200, 200, 0.2);
}

.tiny-text {
    font-size: 12px;
    color: #AAAAAA
}

/* images */
#image-404 {
    max-width: 100px;
}

/* character backgrounds */
.ether-background {
    background-color: #772D2E;
}

.net-background {
    background-color: #2A267C;
}

/* other fancy stuff */
.strikethrough {
    text-decoration: line-through;
    font-weight: normal;
}